<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Reach out to Ocean on LinkedIn, or drop him an email!</p>
<%= link_to image_tag("linkedin.png", alt: "LinkedIn logo", width: "30"),
    "https://www.linkedin.com/in/ooshengsoo/" %>
<p>merging this with about</p>
  