<footer class="footer">
  <small>
    CEAPOST, a testing social webpage </a>
    by <a href="https://www.linkedin.com/in/ooshengsoo/">Ocean</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
      <li><%= link_to image_tag("linkedin.png", alt: "LinkedIn logo", width: "20"),
          "https://www.linkedin.com/in/ooshengsoo/" %></li>
      <li><%= link_to image_tag("twitter.png", alt: "Twitter logo", width: "20"),
          "https://twitter.com/OceanSoo99" %></li>
    </ul>
  </nav>
</footer>